
# not sure of usage
STACK_NAME=plus-stackname


# ---------------------------
#       Docker-compose      |
# ---------------------------
#   TRAEFIK_TAG: only services with this TAG value would be acceptable from our Traefik router
TRAEFIK_TAG=plus-in-traefik-tag


# ---------------------------
#       Production          |
# ---------------------------
# DOMAIN: the domain name used in production 
DOMAIN=mynctuplus.com



TRAEFIK_PUBLIC_NETWORK=traefik-public
TRAEFIK_PUBLIC_TAG=traefik-public-tag

USERNAME=admin
HASHED_PASSWORD=admin
EMAIL=admin@gmail.com

# API-Server
PROJECT_NAME=API-Server



# Postgres
#  https://hub.docker.com/_/postgres
POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=app

# PgAdmin
PGADMIN_LISTEN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin
