
# not sure of usage
STACK_NAME=plus-stackname


# ---------------------------
#       Docker-compose      |
# ---------------------------
#   TRAEFIK_TAG: only services with this TAG value would be acceptable from our Traefik router
TRAEFIK_TAG=plus-in-traefik-tag


# ---------------------------
#       Production          |
# ---------------------------
# DOMAIN: the domain name used in production 
DOMAIN=mynctuplus.com



TRAEFIK_PUBLIC_NETWORK=traefik-public
TRAEFIK_PUBLIC_TAG=traefik-public-tag

USERNAME=admin
HASHED_PASSWORD=admin
EMAIL=admin@gmail.com

# API-Server
PROJECT_NAME=API-Server



# Postgres
#  https://hub.docker.com/_/postgres
POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=app

# PgAdmin
PGADMIN_LISTEN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin

# NCTU OAuth
CLIENT_ID=ALLvcr4darvc9zWTFfcVSzVFJrUenIlxL1guJSi5
CLIENT_SECRET=client_secret
AUTH_URL=https://id.nctu.edu.tw/o/authorize/?client_id=ALLvcr4darvc9zWTFfcVSzVFJrUenIlxL1guJSi5&response_type=code&scope=profile
token_url=https://id.nctu.edu.tw/o/token/
data_url=https://id.nctu.edu.tw/api/profile/
redirect_url=http://localhost:8888/auth/nctu/redirect
