[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
dev = "uvicorn app.main:server --reload"
prod = "uvicorn app.main:server"
format= "black app" # Linter
test = "moght run: 'python -m pytest'... not yet"

[dev-packages]
black = "==19.10b0" # https://github.com/psf/black/issues/517

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"

[requires]
python_version = "3.7.6"
